@using Microsoft.AspNetCore.Authorization
@using PracticeAspNetCoreIdentity.Client.AdminAccountManagement
@using PracticeAspNetCoreIdentity.Shared.Models.AccountManagement
@attribute [Route(Constants.Route.AdminAllAccounts)]
@attribute [Authorize(Roles = UserRole.Administrator)]

<h3>All Accounts</h3>

<select @bind="OrderBy" @bind:after="ProcessOrderByChange">
    <option value="@AccountOrderBy.EmailAsc">Email Ascending</option>
    <option value="@AccountOrderBy.EmailDesc">Email Descending</option>
</select>

<table>
    <tr>
        <th>Email</th>
        <th>Action</th>
    </tr>
    @foreach (var account in Accounts)
    {
        <tr>
            <td>@account.Email</td>
            <td>
                <a href="@Constants.Route.AdminAccountDetail/@account.Id">Details</a>
            </td>
        </tr>
    }
</table>
<p>Total Account: @TotalAccounts</p>

@if (Page > 1)
{
    <button @onclick="PreviousPage">Previous</button>
}
<span>@Page/@((int)Math.Ceiling((double)TotalAccounts / PageSize))</span>

@if ((Page * PageSize) < TotalAccounts)
{
    <button @onclick="NextPage">Next</button>
}

@inject IAdminAccountManagement AdminAccountManagement
@inject IJSRuntime JsRuntime

@code {
    private IEnumerable<AccountSummaryDto> Accounts { get; set; } = [];
    private int TotalAccounts { get; set; }

    private int Page { get; set; } = 1;
    private static int PageSize => 10;
    private string OrderBy { get; set; } = AccountOrderBy.EmailAsc;

    protected override async Task OnInitializedAsync()
    {
        var result = await AdminAccountManagement.GetAccountCountAsync();
        if (result.Succeeded) TotalAccounts = result.Data;
        else await JsRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));

        await LoadAccounts();
    }

    private async Task ProcessOrderByChange()
    {
        Page = 1;
        await LoadAccounts();
    }

    private async Task NextPage()
    {
        if (Page * PageSize < TotalAccounts)
        {
            Page++;
            await LoadAccounts();
        }
    }

    private async Task PreviousPage()
    {
        if (Page > 1)
        {
            Page--;
            await LoadAccounts();
        }
    }

    private async Task LoadAccounts()
    {
        var result = await AdminAccountManagement.GetAllAccountsAsync(Page, PageSize, OrderBy);

        if (result.Succeeded) Accounts = result.Data!;
        else await JsRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

}