@attribute [Route(Constants.Route.Register)]

<h3>Register</h3>

<p>@Message</p>

<EditForm Model="@this" OnValidSubmit="RegisterAsync">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" type="email" class="form-control" @bind-Value="Email"/>
        <ValidationMessage For="@(() => Email)"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="Password"/>
        <ValidationMessage For="@(() => Password)"/>
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <InputText id="confirmPassword" type="password" class="form-control" @bind-Value="ConfirmPassword"/>
        <ValidationMessage For="@(() => ConfirmPassword)"/>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@using System.ComponentModel.DataAnnotations
@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager

@code {

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateTask;
        var user = authState.User;

        if (user.Identity is { IsAuthenticated: true })
        {
            NavigationManager.NavigateTo(Constants.Route.Home);
        }
    }

    [Required] [EmailAddress] public string Email { get; set; } = string.Empty;

    [Required] public string Password { get; set; } = string.Empty;

    [Required]
    [Compare("Password", ErrorMessage = "Passwords do not match.")]
    public string ConfirmPassword { get; set; } = string.Empty;

    private string? Message { get; set; }

    private async Task RegisterAsync()
    {
        var result = await AccountManagement.RegisterAsync(Email, Password);
        if (result.Succeeded)
        {
            NavigationManager.NavigateTo($"{Constants.Route.Login}?message-code=RegistrationSuccessful");
        }
        else
        {
            Message = $"Registration failed: {string.Join(", ", result.ErrorList)}";
        }
    }

}