@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <a href="@Constants.Route.Home">Home</a>
        <AuthorizeView>
            <Authorized>
                Logged in as @context.User.Identity?.Name.
                <AuthorizeView Roles="@UserRole.Administrator" Context="_">
                    <a href="@Constants.Route.AdminAllAccounts">Manage Accounts</a>
                </AuthorizeView>
                <a href="@Constants.Route.AllNotes">My Notes</a>
                <button @onclick="LogoutAsync">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="@Constants.Route.Login">Login</a>
                <a href="@Constants.Route.Register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    @Body
</div>

@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@code
{

    private async Task LogoutAsync()
    {
        var result = await AccountManagement.CookieLogoutAsync();
        if (!result.Succeeded)
        {
            await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.ErrorList));
            return;
        }

        NavigationManager.NavigateTo(Constants.Route.Home);
    }

}