@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <a href="@Constants.Route.Home">Home</a>
        <AuthorizeView>
            <Authorized>
                Logged in as @context.User.Identity?.Name.
                <AuthorizeView Roles="@UserRole.Administrator" Context="_">
                    <a href="@Constants.Route.AdminAllAccounts">Manage Accounts</a>
                </AuthorizeView>
                @if (context.User.Claims.FirstOrDefault(c => c.Type == CustomClaimTypes.EmailConfirmed)?.Value == bool.FalseString)
                {
                    <span>Email Not Confirmed. <button
                            @onclick="SendConfirmationEmailAsync">Send confirmation email now</button></span>
                }
                @if (context.User.Claims.FirstOrDefault(c => c.Type == CustomClaimTypes.HasPassword)?.Value == bool.TrueString)
                {
                    <a href="@Constants.Route.ChangePassword">Change Password</a>
                }
                else
                {
                    <a href="@Constants.Route.SetPassword">Set Password to use password login</a>
                }
                <a href="@Constants.Route.AllNotes">My Notes</a>
                <button @onclick="LogoutAsync">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="@Constants.Route.Login">Login</a>
                <a href="@Constants.Route.Register">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    @Body
</div>

@inject IAccountManagement AccountManagement
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@code
{

    [CascadingParameter] private Task<AuthenticationState> AuthStateTask { get; set; } = null!;

    private async Task LogoutAsync()
    {
        var result = await AccountManagement.CookieLogoutAsync();
        if (result.Succeeded) NavigationManager.NavigateTo(Constants.Route.Home);
        else await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }

    private async Task SendConfirmationEmailAsync()
    {
        var result = await AccountManagement.SendConfirmationEmailAsync();
        if (result.Succeeded) await JSRuntime.InvokeVoidAsync("alert", "Confirmation email sent. Please check your inbox.");
        else await JSRuntime.InvokeVoidAsync("alert", string.Join("\n", result.Errors?.Select(e => $"{e.Key}: {string.Join(", ", e.Value)}") ?? []));
    }
}